<div class="well">
  <table id="mailbox-table" class="table table-striped">
    <thead>
      <tr>
        <th>Imię i nazwisko</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Katering</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <% @queries.each do |query| %>
        <tr>
          <td> <%= query.fullname %>  </td>
          <td> <%= query.email %>  </td>
          <td> <%= query.phone %>  </td>
          <td> <%= catering_status(query) %>  </td>
          <td>
            <div class="actions-btn-group btn-group btn-group-of-two" role="group" >
              <div class="btn-group" role="group">
                <%= link_to fa_icon("file-o"), backend_mailbox_path(query), remote: true, class: 'btn btn-default btn-xs' %>
              </div>
              <div class="btn-group" role="group">
                <%= link_to fa_icon("trash-o"), backend_mailbox_path(query), method: :delete, data: { confirm: 'Jesteś pewien?' }, class: 'btn btn-default btn-xs' %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
