<%= simple_form_for(@query, url: catering_queries_create_path, method: :post ) do |f| %>
  <h3 class="text-center">wypełnij formularz</h3>
  <p class="text-center">odezwiemy się w ciągu 24 godz.</p><br>
  <%= render "partials/front_flash_messages" %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :fullname, placeholder: 'Imię i nazwisko', label: false %> 
    <%= f.input :phone, placeholder: 'Nr telefonu', label: false %> 
    <%= f.input :email, placeholder: 'Adres e-mail', label: false %> 
    <%= f.input :town, placeholder: 'Miejscowość', label: false %> 
    <%= f.input :body, as: :text, placeholder: 'Twoja wiadomość...', label: false %> 
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Wyślij' %>
  </div>
<% end %>

