<div id="post-form-wrapper" class='<%= controller.controller_name %>-<%= controller.action_name %>' >
  <%= simple_form_for([:backend, @backend_post], html: {multipart: true}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="row">
        <div class="col-md-6">
          <%= f.input :title %> 
        </div>
        <div class="col-md-6">
          <%= f.input :slug %> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.input :publish_date, as: :string %> 
        </div>
        <div class="col-md-4">
          <%= f.label 'Publikuj' %> 
          <%= f.input :publish, as: :boolean, label: false   %> 
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
            <% unless @backend_post.image.nil? %>
              <%= image_tag @backend_post.image_url(:thumb).to_s %> 
              <%= fa_icon'times', class: "delete-image", id: @backend_post.id  %> 
            <% end %> 
          </div>
          <div class="col-md-6">
            <%= f.input :image, as: :file %> 
          </div>
        </div>
      </div>
    </div>


      <div class="row">
        <div class="col-md-12">
          <%= f.input :excerpt, as: :ckeditor, input_html: { ckeditor: { height: '200', toolbar: 'excerpt', language: 'pl' } } %> 
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: 'custom', language: 'pl' } } %> 
        </div>
      </div>


    </div>

    <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to 'Back', backend_posts_path, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
