<div class="modal fade" id="postShowModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="closePost close">x</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="containter">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h1> <%= @backend_post.title %> </h1>
                      <%= @backend_post.publish_date %> <br>
                    </div>
                    <div class="panel-body">
                      <%= image_tag @backend_post.image.image_url(:thumb).to_s, class: 'img-thumbnail'  unless @backend_post.image.blank? %> 
                      <%= @backend_post.body.html_safe %> 
                    </div>
                    <div class="panel-footer">
                      <%= link_to 'Wróć', posts_path %> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="closePost btn btn-default">Zamknij</button>
      </div>
    </div>

