<table class="table table-striped">
  <% if @backend_posts.empty? %> 
    <div class="well text-center">Brak danych.</div>
  <% else %>
    <thead>
      <tr>
        <th>Tytuł</th>
        <th>Tekst</th>
        <th>Data publikacji</th>
        <th>Szkic</th>
        <th colspan="3">Akcje</th>
      </tr>
    </thead>
    <tbody>
      <% @backend_posts.each do |backend_post| %>
        <tr>
          <td> <%= truncate(backend_post.title, lenght: 20, separator: '') %> </td>
          <td> <%= post_excerpt(backend_post, 70) %> </td>
          <td> <%= backend_post.publish_date %> </td>
          <td> <%= publish(backend_post) %> </td>
          <td>
            <div class="dropdown">
              <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu"  role="menu">
                <li>
                  <%= link_to 'Pokaż', backend_post_path(backend_post), remote: true %>
                </li>
                <li>
                  <%= link_to 'Edytuj', edit_backend_post_path(backend_post) %>
                </li>
                <li>
                  <%= link_to 'Usuń', backend_post_path(backend_post), method: :delete, data: { confirm: 'Jesteś pewien?' } %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %> 
    </tbody>
</table>
<br>
<%= link_to 'New Post', new_backend_post_path %>
