<%# <%= material_icon.chevron_right.md_48.css_class('menu-toggle') %1> %> 
<div id="nav-icon3">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<ul class="sidebar-nav">
  <li>
    <%= link_to '<i class="material-icons">dashboard</i> Dashboard'.html_safe, backend_dashboards_path %> 
  </li>
  <li>
    <%= link_to backend_mailbox_index_path do %>
      <i class="material-icons">inbox</i>
      Zapytania
      <div class="inbox-badge">42</div>
    <% end %> 
  </li>
  <li>
    <%= link_to '<i class="material-icons">create</i> Posty'.html_safe, '/auth/facebook' %>
  </li>
  <li>
    <%= link_to '<i class="material-icons">map</i> Trasy'.html_safe, backend_tracks_path %>
  </li>
  <li>
    <%= link_to "<i class='material-icons'>insert_drive_file</i> Podstrony".html_safe, edit_backend_home_page_path(1) %>
  </li>
  <li>
    <%= link_to '<i class="material-icons">photo_album</i> Zdjęcia'.html_safe, backend_images_path %>
  </li>
  <li>
    <%= link_to "<i class='material-icons'>local_pizza</i> Produkty".html_safe, backend_products_path %>
  </li>
  <li>
    <%= link_to '<i class="material-icons">people_outline</i> Administratorzy'.html_safe, backend_admins_path  %>
  </li>
  <li>
    <%= link_to "<i class='material-icons'>settings_applications</i> Ustawienia".html_safe, authenticate_backend_settings_path, remote: true %>
  </li>
</ul>

