<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to page_logo, backend_dashboards_path, class: 'navbar-brand' %> 
    <%# <%= link_to "Foodtrack", backend_dashboards_path, class: 'navbar-brand' %1> %> 
  </div>
  <ul class="nav navbar-top-links navbar-right">
    <% if admin_signed_in? %>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= material_icon.perm_identity.md_24 %> 
          <%= current_admin.first_name %>
          <%= current_admin.last_name %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "#{fa_icon('user')} Profil".html_safe, edit_admin_registration_path %></li>
          <li><%= link_to "#{fa_icon('sign-out')} Wyloguj się".html_safe, destroy_admin_session_path, method: :delete %></li>
        </ul>
      </li>
    <% end %>
  </ul>
  <%= render "partials/backend_sidebar" %>
</nav>
