<ul class="nav navbar-nav navbar-right navbar-menu">
  <li> <%= link_to 'Str. Główna', root_path, class: set_active_class(root_path) %> </li>
  <li> <%= link_to 'Menu', pages_produkty_path, class: set_active_class(pages_produkty_path) %> </li>
  <li> <%= link_to 'Aktualności', posts_path, class: set_active_class(posts_path) %> </li>
  <li> <%= link_to 'O nas', pages_historia_path, class: set_active_class(pages_historia_path) %> </li>
  <li> <%= link_to 'Galeria', pages_galeria_path, class: set_active_class(pages_galeria_path) %> </li>
  <li> <%= link_to 'Zarezerwuj Tracka', catering_queries_new_path, class: set_active_class(catering_queries_new_path) %> </li>
  <li> <%= link_to 'Kontakt', queries_new_path, class: set_active_class(queries_new_path) %> </li>
</ul>
