<ul class="nav navbar-nav navbar-right">
  <li> <%= link_to 'Str. Główna', root_path %> </li>
  <li> <%= link_to 'Menu', pages_produkty_path %> </li>
  <li> <%= link_to 'Aktualności', posts_path %> </li>
  <li> <%= link_to 'O nas', pages_historia_path %> </li>
  <li> <%= link_to 'Galeria', pages_galeria_path %> </li>
  <li> <%= link_to 'Zarezerwuj Tracka', catering_queries_new_path %> </li>
  <li> <%= link_to 'Kontakt', queries_new_path %> </li>
  <li>
    <% if current_admin %>
      <%= link_to material_icon.settings, backend_dashboards_path %> 
    <% end %> 
  </li>
</ul>
