<div class="tabs-navigation">
  <ul class="nav nav-tabs" role="tablist">
    <%= content_tag :li, class: set_active_class(edit_backend_home_page_path(1)) do %> 
      <%= link_to 'Home', edit_backend_home_page_path(1)  %> 
    <% end %> 
    <%= content_tag :li, class: set_active_class(edit_backend_blog_page_path(1)) do %> 
      <%= link_to 'Aktualności', edit_backend_blog_page_path(1) %>
    <% end %> 
    <%= content_tag :li, class: set_active_class(edit_backend_produkt_page_path(1)) do %> 
      <%= link_to 'Menu', edit_backend_produkt_page_path(1) %>
    <% end %> 
    <%= content_tag :li, class: set_active_class(edit_backend_historia_page_path(1)) do %> 
      <%= link_to 'O nas', edit_backend_historia_page_path(1) %>
    <% end %> 
    <%= content_tag :li, class: set_active_class(edit_backend_galeria_page_path(1)) do %> 
      <%= link_to 'Galeria', edit_backend_galeria_page_path(1) %>
    <% end %> 
    <%= content_tag :li, class: set_active_class(edit_backend_kontakt_katering_page_path(1)) do %> 
      <%= link_to 'Zarezerwuj tracka', edit_backend_kontakt_katering_page_path(1) %>
    <% end %> 
    <%= content_tag :li, class: set_active_class(edit_backend_kontakt_page_path(1)) do %> 
      <%= link_to 'Kontakt', edit_backend_kontakt_page_path(1)  %> 
    <% end %> 
    <%= content_tag :li, class: set_active_class(edit_backend_policy_page_path(1)) do %> 
      <%= link_to 'Polityka prywatności', edit_backend_policy_page_path(1)  %> 
    <% end %> 
  </ul>
</div>

