<div class="social-media">
  <%= image_tag 'badznabierzaco', class: 'dop-social' %> 
  <%= link_to image_tag('facebook'), root_path %> 
  <%= link_to image_tag('youtube'), root_path %> 
  <%= link_to image_tag('tweeter'), root_path %> 
  <%= link_to image_tag('google'), root_path %> 
</div>
