<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        Aktualna Trasa - <%= @track.blank? ? "brak" : @track.route_name %> 
      <% if !@track.blank? %> 
        <div class="dropdown pull-right">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu"  role="menu">
            <li>
              <%= link_to 'Pokaż', backend_track_path(@track), remote: true %>
            </li>
            <li>
              <%= link_to 'Edytuj', edit_backend_track_path(@track) %>
            </li>
            <li>
              <%= link_to 'Usuń', backend_track_path(@track), method: :delete, data: { confirm: 'Jesteś pewien?' } %>
            </li>
          </ul>
        </div>
      <% end %> 
      <%= link_to fa_icon('plus'), new_backend_track_path, class: 'btn btn-default btn-xs pull-right', data: {toggle: 'tooltip'}, title: 'Nowy trasa'  %> 
      </div>
      <div class="panel-body">
        <% if @track.blank? %>
            <p class="lead text-center">Brak danych.</p>
        <% else %>
          <div class="timeline-stops-wrapper">
            <ul class="timeline">
              <% @track.stops.each do |stop| %>
                <li class="<%= cycle("", "timeline-inverted") %>">
                  <div id="<%= stop.id %>" class="timeline-badge <%= stop.active ? "success" : "" %> "> <%= material_icon.directions_bus %> </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h5 class="timeline-title"> <%= stop.full_street_address %> </h5>
                      <p>
                      <small class="text-muted"> <%= material_icon.access_time %> <%= stop.date.strftime("%d/%m/%Y %H:%M") %>  </small><br>
                      <small class="text-muted"> <%= material_icon.update %> <%= stop.date_out.strftime("%d/%m/%Y %H:%M") %>  </small>
                      </p>
                    </div>
                  </div>
                </li>
              <% end %> 
            </ul>
          </div>
        <% end %> 
      </div>
    </div>
    
  </div>
  <div class="col-md-5">
    <div class="panel panel-default last-published-posts">
      <div class="panel-heading">
        Ostatnie publikowane posty
        <%= link_to fa_icon('plus'), new_backend_post_path, class: 'btn btn-default btn-xs pull-right', data: {toggle: 'tooltip'}, title: 'Nowy post'  %> 
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% if @published_posts.blank? %>
            <p class="lead text-center">Brak danych.</p>
          <% else %>
            <% @published_posts.each do |post| %>
              <%= link_to edit_backend_post_path(post), class: 'list-group-item'  do %>  
                <h4 class="list-group-item-heading"> <%= material_icon.chevron_right %>  <%= truncate(post.title, length: 20, separator:  '' ) %></h4>
                <p class="list-group-item-text"> <%= post_excerpt(post, 60)  %> </p>
                <p class="list-group-item-text">
                <small class="text_muted pull-right"> <%= material_icon.access_time %>  <%= post.publish_date %> </small>
                </p>
              <% end %> 
            <% end %> 
          <% end %> 
        </div>
      </div>
    </div>
    <div class="panel panel-default last-published-posts">
      <div class="panel-heading">
        Wizyty panelu administracyjnego
        <%= link_to fa_icon('users'), backend_admins_path, class: 'btn btn-default btn-xs pull-right', data: {toggle: 'tooltip'}, title: 'Administratorzy'  %> 
      </div>
      <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped login-statistics">
            <thead>
              <tr>
                <td><strong>Imię i Nazwisko</strong></td>
                <td><strong>IP</strong></td>
                <td><strong>Logowanie</strong></td>
                <%# <td><strong>Wylogowany</strong></td> %>
              </tr>
            </thead>
            <tbody>
              <% @visits.each do |visit| %>
                <tr>
                  <td> <%= visit.fullname  %> </td>
                  <td> <%= visit.ip %> </td>
                  <td> <%= visit.log_in %> </td>
                  <%# <td> <div class='text-center'><%= visit.log_out.nil? ? material_icon.remove : visit.log_out %1></div> </td> %>
                </tr>
              <% end %>
            </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">

  </div>
</div>
