<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        Aktualna Trasa - <%= @track.blank? ? "brak" : @track.route_name %> 
      <% if !@track.blank? %> 
        <div class="dropdown pull-right">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu"  role="menu">
            <li>
              <%= link_to 'Pokaż', backend_track_path(@track), remote: true %>
            </li>
            <li>
              <%= link_to 'Edytuj', edit_backend_track_path(@track) %>
            </li>
            <li>
              <%= link_to 'Usuń', backend_track_path(@track), method: :delete, data: { confirm: 'Jesteś pewien?' } %>
            </li>
          </ul>
        </div>
      <% end %> 
      </div>
      <div class="panel-body">
        <ul class="timeline">
          <% if @track.blank? %>
            <li class="<%= cycle("", "timeline-inverted") %>">
              <div class="timeline-badge"> <%= material_icon.remove %> </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h5 class="timeline-title brak-danych-trasy"> Brak danych </h5>
                </div>
              </div>
            </li>
          <% else %>
            <% @track.stops.each do |stop| %>
              <li class="<%= cycle("", "timeline-inverted") %>">
                <div id="<%= stop.id %>" class="timeline-badge <%= stop.active ? "success" : "" %> "> <%= material_icon.directions_bus %> </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="timeline-title"> <%= stop.full_street_address %> </h5>
                    <p><small class="text-muted"> <%= material_icon.access_time %> <%= stop.date.strftime("%d/%m/%Y %H:%M") %>  </small>
                    </p>
                  </div>
                </div>
              </li>
            <% end %> 
          <% end %> 
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-default last-published-posts">
      <div class="panel-heading">
        Ostatnie publikowane posty
        <%= link_to fa_icon('plus'), new_backend_post_path, class: 'btn btn-default btn-xs pull-right', data: {toggle: 'tooltip'}, title: 'Nowy post'  %> 
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% @published_posts.each do |post| %>
            <%= link_to  edit_backend_post_path(post), class: 'list-group-item'  do %>  
              <h4 class="list-group-item-heading"> <%= material_icon.chevron_right %>  <%= truncate(post.title, length: 20, separator:  '' ) %></h4>
              <p class="list-group-item-text"> <%= post_excerpt(post, 60)  %> </p>
              <p class="list-group-item-text">
              <small class="text_muted pull-right"> <%= material_icon.access_time %>  <%= post.publish_date %> </small>
              </p>
            <% end %> 
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
  </div>
</div>
