<div class="form-inline">
  <div class="nested-fields">
    <%= f.input :address_line1, label: false, placeholder: 'Nr domu' %> 
    <%= f.input :address_line2, label: false, placeholder: 'Ulica' %> 
    <%= f.input :town, label: false, placeholder: 'Miasto' %> 
    <%= f.input :code, label: false, placeholder: 'Kod pocztowy' %> 
    <%= f.input :date, label: false, as: :string, placeholder: 'Data przyjazdu', input_html: { class: 'track-date'} %> 
    <%= f.input :date_out, label: false, as: :string, placeholder: 'Data odjazdu', input_html: { class: 'track-date'} %> 
    <%= link_to_remove_association "#{fa_icon('times')} Usuń".html_safe, f, class: 'btn btn-default' %>
  </div>
</div>

