<div class="well">
  <table id="tracks-table" class="table table-striped">
    <thead>
      <tr>
        <th>Nazwa trasy</th>
        <th>Nazwa wozu</th>
        <th>Imię kierowcy</th>
        <th>Licza postoi</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <% @tracks.each do |track| %>
        <tr>
          <td> <%= track.route_name %>  </td>
          <td> <%= track.truck %>  </td>
          <td> <%= track.driver %>  </td>
          <td> <%= track.stops.count %>  </td>
          <td>
            <div class="actions-btn-group btn-group " role="group" >
              <div class="btn-group" role="group">
                <%= link_to fa_icon("file-o"), backend_track_path(track), remote: true, class: 'btn btn-default btn-xs' %>
              </div>
              <div class="btn-group" role="group">
                <%= link_to fa_icon("pencil-square-o"), edit_backend_track_path(track), class: 'btn btn-default btn-xs' %>
              </div>
              <div class="btn-group" role="group">
                <%= link_to fa_icon("trash-o"), backend_track_path(track), method: :delete, data: { confirm: 'Jesteś pewien?' }, class: 'btn btn-default btn-xs' %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @tracks.empty? %> 
    <div class="well text-center">Brak danych.</div>
  <% end %> 
</div>
<div class='well'>
  <%= link_to 'Nowa Lista', new_backend_track_path, class: 'btn btn-default' %>
</div>
