<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<%# Miejsce na banner %>

<% @home_page.pageAdds.try(:each) do |add| %> 
  <%= add.body.html_safe unless add.body.blank? %> 
<% end %>


<%# Mapa %>

<div id="map" class="map" style="width: 100%; height: 480px;"></div>
<script type="text/javascript">
$(function() {
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: { 
      maxZoom: 19,
      styles: [{ "featureType": "administrative", "elementType": "labels.text.fill", "stylers": [{ "color": "#444444" }] }, { "featureType": "landscape", "elementType": "all", "stylers": [{ "color": "#f2f2f2" }] }, { "featureType": "poi", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "road", "elementType": "all", "stylers": [{ "saturation": -100 }, { "lightness": 45 }] }, { "featureType": "road.highway", "elementType": "all", "stylers": [{ "visibility": "simplified" }] }, { "featureType": "road.arterial", "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit", "elementType": "all", "stylers": [{ "visibility": "off" }] }, { "featureType": "water", "elementType": "all", "stylers": [{ "color": "#46bcec" }, { "visibility": "on" }] }]
    },
    internal: { 
      id: 'map' 
    }
  },
  function(){
    markers = handler.addMarkers(<%= raw @markers_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
  );
});
</script>

<%= render "stops", track: @track %>

<%= render "products", carousel_products: @carousel_products %>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <div class="lead">blog posts</div>
      <table>
        <% @posts.try(:each) do |post| %>
          <tr>
            <td>
              <%= image_tag post.image.image_url(:thumb).to_s  unless post.image.blank? %> 
              <%= link_to post.title, post_path(post)  %> 
            </td>
            <td> <%=  truncate(post.body.try(:html_safe), length: 250) %>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <div class="lead">fanpage timeline posts</div>
      <table>
        <% @fposts.try(:each) do |fpost| %>
          <tr>
            <td>
              <%= fpost.title %> 
              <%= truncate(fpost.body.try(:html_safe), length: 150) %> 
              <hr>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
