<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="well">
  <div class="container">
    miejsce na banner 
    <% @home_page.pageAdds.try(:each) do |add| %> 
      <%= add.body.html_safe unless add.body.blank? %> 
    <% end %>
  </div>
</div>
<div class="well">
  <div style='width: 100%;'>
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>
  <script type="text/javascript">
$(function() {
  handler = Gmaps.build('Google');
  handler.buildMap({
    provider: { 
      maxZoom: 12,
      disableDefaultUI: true
    },
    internal: { 
      id: 'map' 
    }
  },
  function(){
    markers = handler.addMarkers(<%= raw @markers_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
  );
});
  </script>
</div>
<div class="well">
  <div class="stops-wrap">
    <% @track.try(:stops).try(:each) do |stop| %>
      <div class="stop-con <%= " active" if stop.active %> ">
        <div><%= stop.date.strftime("%d/%m/%Y %H:%M") %></div>
        <div><%= stop.date_out.strftime("%d/%m/%Y %H:%M") %></div>
        <div><%= stop.full_street_address %></div>
        <div><%= stop.catchphrase %></div>
      </div>
    <% end %> 
  </div>
</div>
<div class="well">
  <div class="carousel">
    <% @carousel_products.try(:each) do |product| %>
      <div> <%= image_tag product.image_url.to_s  %> </div>
    <% end %> 
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <div class="lead">blog posts</div>
      <table>
        <% @posts.try(:each) do |post| %>
          <tr>
            <td>
              <%= image_tag post.image.image_url(:thumb).to_s  unless post.image.blank? %> 
              <%= link_to post.title, post_path(post)  %> 
            </td>
            <td> <%=  truncate(post.body.html_safe, length: 250) %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <div class="lead">fanpage timeline posts</div>
      <table>
        <% @fposts.try(:each) do |fpost| %>
          <tr>
            <td>
              <%= fpost.title %> 
              <%= truncate(fpost.body.html_safe, length: 150) %> 
              <hr>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
