<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class="well">
  <div class="container">
    miejsce na banner 
    <% @home_page.pageAdds.each do |add| %> 
      <%= add.body.html_safe unless add.body.blank? %> 
    <% end %>
  </div>
</div>
<div class="well">
  <div style='width: 100%;'>
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>
  <script type="text/javascript">
$(function() {
  handler = Gmaps.build('Google');

  handler.buildMap({
    provider: { maxZoom: 15},
    internal: { id: 'map' }
  },
  function(){
    markers = handler.addMarkers(<%= raw @markers_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
  );
});
  </script>
</div>
<div class="well">
  miejsce na postoje
</div>
<div class="well">
  <div class="carousel">
    <% @carousel_products.each do |product| %>
      <div> <%= image_tag product.image_url.to_s  %> </div>
    <% end %> 
  </div>
</div>

<div class="well">
  <table>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= image_tag post.image.image_url(:thumb).to_s  unless post.image.blank? %> 
          <%= link_to post.title, post_path(post)  %> 
          <%= post.publish_date %>
        </td>
        <td> <%=  post.excerpt %> </td>
      </tr>
    <% end %>
  </table>
</div>
