<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>
<div class='menu'>
  <%= render "products", carousel_products: @products %>
  <div class="row">
    <div class="col-md-12">
      <% @produkt_page.pageAdds.try(:each) do |add| %> 
        <%= add.body.html_safe unless add.body.blank? %> 
      <% end %>
    </div>
  </div>
  <section id="products">
    <div class="container">
      <div class="row">
        <% @products.each do |product| %> 
          <div class="col-md-6 product">
            <article class="row">
              <div class="col-md-6">
                <div class="wraper-zdj-slider">
                  <span class="zdj-slider" style="background-image: url( <%= product.image_url %> );"></span>
                </div>
              </div>
              <div class="col-md-6">
                <h2> <%= product.name %> </h2>
                <p> <%= product.description %> </p>
              </div>
            </article>
          </div>
        <% end %> 
      </div>
    </div>
  </section>
</div>
