
<% content_for :top_buttons do %>
  <%= link_to material_icon.add, new_backend_image_path, remote: true, data: {toggle: 'tooltip'}, title: 'Dodaj zdjęcie', id: 'image-link', class: 'btn btn-default btn-xs'  %> 
<% end %> 

<div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>
<div class="well">
  <%= form_for [:backend, Image.new] do |img| %>
    <%= img.file_field :image, multiple: true, name: 'image[image]' %> 
  <% end %> 
  <div class="row" id="paintings">
    <% if @images.blank? %> 
      <p class="lead text-center">Brak zdjęć w galerii.</p>
    <% end %> 
    <% @images.each do |img| %> 
      <div class="col-md-15 col-sm-3 col-xs-6">
        <div class="thumbnail">
          <div class="image-class" style="background: url( <%= img.image_url %> )" ></div>
          <%# <%= image_tag(img.image_url(:thumb).to_s) %1> %> 
          <div class="caption">
            <p> <%= img.image_title %>
          <%= link_to fa_icon('trash-o'), backend_image_path(img.id), method: :delete, data: {confirm: 'Jesteś pewien?'}, class: 'btn btn-default btn-xs pull-right' %> 
            </p>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
</div>
