<div class="row">
  <div class="col-xs-6 col-md-3">
    <%= link_to image_tag('mock1'), 'http://www.google.com', class: 'thumbnail' %> 
  </div>
  <div class="col-xs-6 col-md-3">
    <%= link_to image_tag('mock2'), 'http://www.google.com', class: 'thumbnail' %> 
  </div>
  <div class="col-xs-6 col-md-3">
    <%= link_to image_tag('mock3'), 'http://www.google.com', class: 'thumbnail' %> 
  </div>
  <div class="col-xs-6 col-md-3">
    <%= link_to image_tag('mock4'), 'http://www.google.com', class: 'thumbnail' %> 
  </div>
  <div class="col-xs-6 col-md-3">
    <%= link_to image_tag('mock4'), 'http://www.google.com', class: 'thumbnail' %> 
  </div>
  <div class="col-xs-6 col-md-3">
    <%= link_to image_tag('mock5'), 'http://www.google.com', class: 'thumbnail' %> 
  </div>
  <div class="col-xs-6 col-md-3">
    <%= link_to image_tag('mock6'), 'http://www.google.com', class: 'thumbnail' %> 
  </div>
</div>
<%= link_to 'Dodaj', new_backend_image_path, remote: true %> 
