<% content_for :top_buttons do %>
  <%= link_to material_icon.add, new_backend_product_path, data: {toggle: 'tooltip'}, title: 'Nowy Produkt', class: 'btn btn-default btn-xs' %> 
<% end %> 
<div class="well">
  <table id="products-table" class="table responsive no-wrap table-striped">
    <% if @backend_products.empty? %> 
      <p class="lead text-center">Brak danych.</p>
    <% else %> 
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Nazwa</th>
          <th>Cena</th>
          <th>Publikacja</th>
          <th>Slider</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <% @backend_products.each do |backend_product| %>
          <tr>
            <td> <%= image_tag backend_product.image_url(:thumb).to_s, class: 'img-thumbnail backend-product-img'  %> </td>
            <td> <%= backend_product.name %> </td>
            <td> <%= backend_product.price %> </td>
            <td> <%= backend_product.publish %> </td>
            <td> <%= backend_product.expose %> </td>
            <td>
              <div class="actions-btn-group btn-group " role="group" >
                <div class="btn-group" role="group">
                  <%= link_to fa_icon("file-o"), backend_product_path(backend_product), remote: true, class: 'btn btn-default btn-xs' %>
                </div>
                <div class="btn-group" role="group">
                  <%= link_to fa_icon("pencil-square-o"), edit_backend_product_path(backend_product), class: 'btn btn-default btn-xs' %>
                </div>
                <div class="btn-group" role="group">
                  <%= link_to fa_icon("trash-o"), backend_product_path(backend_product), method: :delete, data: { confirm: 'Jesteś pewien?' }, class: 'btn btn-default btn-xs' %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %> 
  </table>
</div>
<div class="well">
  <%= link_to 'Nowy produkt', new_backend_product_path, class: 'btn btn-default'%>
</div>
