<div class="aktualnosci">
  <section id="posts">
    <div class="container">
      <div class="row">
        <div class='col-md-12'>
          <% @post_page.pageAdds.try(:each) do |add| %> 
            <%= add.body.html_safe unless add.body.blank? %> 
          <% end %>
        </div>
        <% @posts.each do |post| %>
          <div class="col-md-4 col-sm-6">
            <article>
              <div class="wraper">
                <%= link_to(post_path(post)) do %> 
                  <%= set_post_img(post, 'div') %> 
                <% end %>
                <%= render "post_date", post: post %>
                <%= link_to "Więcej<i class='fa fa-long-arrow-right'></i>".html_safe, post_path(post), class: 'btn-post' %> 
              </div>
              <div class="content">
                <%= render "post_content", post: post %>
              </div>
            </article>
          </div>
        <% end %> 
      </div>
    </div>
  </section>
</div>

