<% content_for :head do %>
  <meta property="fb:app_id" content="<%= Settings.facebook_app_id %>" /> 
  <meta property="og:type"   content="sdff:post" /> 
  <meta property="og:url"    content="<%= request.original_url %>" /> 
  <meta property="og:title"  content="<%= @post.title %>" /> 
  <meta property="og:image"  content="<%= (request.base_url + @post.image.image_url) unless @post.image.blank? %>" /> 
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1> <%= @post.title %> </h1>
    <%= @post.publish_date %> <br>
  </div>
  <div class="panel-body">
    <%= image_tag @post.image.image_url.to_s  unless @post.image.blank? %> 
    <%= @post.body.html_safe %> 
  </div>
  <div class="panel-footer">
    <%= link_to 'Wróć', posts_path %> 
  </div>
</div>

