<% content_for :head do %>
  <meta property="fb:app_id" content="<%= Settings.facebook_app_id %>" /> 
  <meta property="og:type"   content="article" /> 
  <meta property="og:url"    content="<%= request.original_url %>" /> 
  <meta property="og:title"  content="<%= @post.title %>" /> 
  <meta property="og:image"  content="<%= post_link_img(@post) %>" /> 
<% end %>
<div class="post">
  <section id="post">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="left">
            <%= render "posts/post_image", post: @post %>
          </div>
          <div class="right">
            <h2> <%= @post.title %> </h2>
          </div>
        </div>
        <div class="col-lg-12 wyimek">
          <%= @post.excerpt %> 
        </div>
        <div class="col-lg-12 content-post">
          <%= @post.body.html_safe %> 
        </div>
      </div>
    </div>
  </section>
  <section id="posts">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center header">Ostatnie aktualności</h2>
        </div>
        <% @last_posts.try(:each) do |post| %>
          <div class="col-md-4 col-sm-6">
            <article>
              <div class="wraper">
                <%= link_to(post_path(post)) do %> 
                  <%= set_post_img(post, 'div') %> 
                <% end %>
                <%= render "posts/post_date", post: post %>
                <%= link_to "Więcej<i class='fa fa-long-arrow-right'></i>".html_safe, post_path(post), class: 'btn-post' %> 
              </div>
              <div class="content">
                <%= render "posts/post_content", post: post %>
              </div>
            </article>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>

