<div class="well">
  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for(Admin.new, url: admin_invitation_path, html: {class: 'form-inline' }) do |f| %> 
        <%= f.input :email, required: true, error: 'Email is mandatory', placeholder: 'Email', label: false %> 
        <%= f.button :submit, 'Wyślij zaproszenie', class: 'btn btn-default' %> 
      <% end %> 
    </div>
  </div>
</div>
<div class="well">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <td><strong>Imię i Nazwisko</strong></td>
            <td><strong>Email</strong></td>
            <td><strong>Status</strong></td>
            <th><strong>Akcje</strong></th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %> 
            <tr>
              <td> <%= admin.fullname  %> </td>
              <td> <%= admin.email %> </td>
              <td> <%= admin_status(admin) %> </td>
              <td>
                <div class="actions-btn-group btn-group " role="group" >
                  <%# <div class="btn-group" role="group"> %>
                  <%#   <%= link_to fa_icon("file-o"), backend_post_path(backend_post), remote: true, class: 'btn btn-default btn-xs' %1> %>
                  <%# </div> %>
                  <%# <div class="btn-group" role="group"> %>
                  <%#   <%= link_to fa_icon("pencil-square-o"), edit_backend_post_path(backend_post), class: 'btn btn-default btn-xs' %1> %>
                  <%# </div> %>
                  <%# <div class="btn-group" role="group"> %>
                  <%#   <%= link_to fa_icon("trash-o"), backend_post_path(backend_post), method: :delete, data: { confirm: 'Jesteś pewien?' }, class: 'btn btn-default btn-xs' %1> %>
                  <%# </div> %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
