<% content_for :top_buttons do %>
  <button type='button' id='settings-info' class='btn btn-default btn-xs' data-placement='left' data-toggle='popover' > <%= material_icon.info_outline %> </button>
<% end %> 
<%= simple_form_for [:backend, @settings], html: {multipart: true} do |s| %> 
  <div class="well">
    <p class="lead">Ustawienia Frontend</p>
    <div class="row">
      <div class="col-md-5">
        <%= s.input :posts_on_wall, label: 'Posty na stronie Home', as: :select, collection: (1..20), default: @settings.posts_on_wall %> 
      </div>
      <div class="col-md-2 col-md-offset-1">
        <%= s.label 'Aktualne logo' %><br> 
        <% if @settings.image? %>
          <%= image_tag @settings.image_url(:mini) %> 
        <% else %>
          <span>brak</span>
        <% end %> 

      </div>
      <div class="col-md-4">
        <%= s.input :image, as: :file, label: 'Wybierz logo' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <p class="lead">Slogan strony</p>
    <div class="row">
      <div class="col-md-6">
        <%= s.input :motto_line1, label: 'Linia 1' %> 
      </div>
      <div class="col-md-6">
        <%= s.input :motto_line2, label: 'linia 2' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <p class="lead">Ustawienia poczty SMTP</p>
    <div class="row">
      <div class="col-md-6">
        <%= s.input :smtp_username, label: 'Login klienta SMTP' %> 
      </div>
      <div class="col-md-6">
        <%= s.input :smtp_pass, label: 'Hasło klienta SMTP' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <p class="lead">Ustawienia danych teleadresowych</p>
    <div class="row">
      <div class="col-md-6">
        <%= s.input :address_line1, label: 'Adres linia nr 1' %> 
      </div>
      <div class="col-md-6">
        <%= s.input :email, label: 'Adres e-mail' %> 
      </div>
      <div class="col-md-6">
        <%= s.input :address_line2, label: 'Adres linia nr 2' %> 
      </div>
      <div class="col-md-6">
        <%= s.input :phone, label: 'Telefon' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <p class="lead">Ustawienia pluginu Twittera</p>
    <div class="row">
      <div class="col-md-12">
        <%= s.input :twitter_address, label: 'Adres profilu Twittera' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <p class="lead">Ustawienia API Facebook</p>
    <div class="row">
      <div class="col-md-12">
        <%= s.input :facebook_app_id, label: 'Id aplikacji Facebooka' %> 
      </div>
      <div class="col-md-12">
        <%= s.input :facebook_secret, label: 'Klucz applikacji Facebooka' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <p class="lead">Ustawienia menu social media </p>
    <div class="row">
      <div class="col-md-12">
        <%= s.simple_fields_for :social_icons, @social_icons, html: {multipart: true} do |icon| %> 
          <div class='well'>
            <div class="row">
              <div class="col-md-1 social-icons">
                <label class="control-label">Ikona</label><br>
                <% if @social_icons[icon.options[:child_index]].image? %>
                  <%= image_tag @social_icons[icon.options[:child_index]].image_url(:mini)  %> 
                <% else %>
                  <span>brak</span>
                <% end %> 
              </div>
              <div class='col-md-8'>
                <%= icon.input :url_address, label: 'URL' %> 
              </div>
              <div class='col-md-3'>
                <%= icon.input :image, as: :file, label: 'Wybierz plik', input_html: {class: 'social-icons-file-upload'} %> 
              </div>
            </div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>

  <div class="well">
    <%= s.submit 'Zapisz', class: 'btn btn-default' %> 
  </div>
<% end %> 
