<% content_for :top_buttons do %>
  <%# <%= link_to material_icon.info_outline, nil, data: { toggle: 'tooltip' }, title: 'Dodaj post', class: 'btn btn-default btn-xs'  %1> %> 
  <button type='button' id='settings-info' class='btn btn-default btn-xs' data-placement='left' data-toggle='popover' > <%= material_icon.info_outline %> </button>
<% end %> 
<%= simple_form_for [:backend, @settings], html: {multipart: true} do |s| %> 
  <div class="well">
    <p class="lead">Ustawienia Frontend</p>
    <div class="row">
      <div class="col-md-3">
        <%= s.input :posts_on_wall, label: 'Posty na stronie Home', as: :select, collection: (1..20), default: @settings.posts_on_wall %> 
      </div>
      <div class="col-md-3">
        <%= s.input :posts_on_gallery, label: 'Posty na stronie Galeria', as: :select, collection: (1..20), default: @settings.posts_on_wall %> 
      </div>
      <div class="col-md-2">
        <%= s.label 'Aktualne logo' %><br> 
        <%= @settings.image.blank? ? 'Brak' : File.basename(@settings.image_url) %>
      </div>
      <div class="col-md-4">
        <%= s.input :image, as: :file, label: 'Wybierz logo' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <p class="lead">Ustawienia poczty SMTP</p>
    <div class="row">
      <div class="col-md-6">
        <%= s.input :smtp_username, label: 'Login klienta SMTP' %> 
      </div>
      <div class="col-md-6">
        <%= s.input :smtp_pass, label: 'Hasło klienta SMTP' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <p class="lead">Ustawienia pluginu Twittera</p>
    <div class="row">
      <div class="col-md-12">
        <%= s.input :twitter_address, label: 'Address profilu Twittera' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <p class="lead">Ustawienia API Instagram</p>
    <div class="row">
      <div class="col-md-12">
        <%= s.input :instagram_id, label: 'Id klienta API Instagram' %> 
      </div>
      <div class="col-md-12">
        <%= s.input :instagram_secret, as: :string, label: 'Klucz klienta API Inatagram' %> 
      </div>
      <div class="col-md-12">
        <%= s.input :instagram_token, label: 'Token klienta API Instagram' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <p class="lead">Ustawienia API Google Maps</p>
    <div class="row">
      <div class="col-md-12">
        <%= s.input :maps_api_key, label: 'Klucz API Google Maps' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <p class="lead">Ustawienia API Facebook</p>
    <div class="row">
      <div class="col-md-12">
        <%= s.input :facebook_app_id, label: 'Id aplikacji Facebooka' %> 
      </div>
      <div class="col-md-12">
        <%= s.input :facebook_secret, label: 'Klucz applikacji Facebooka' %> 
      </div>
    </div>
  </div>
  <div class="well">
    <%= s.submit 'Zapisz', class: 'btn btn-default' %> 
  </div>
<% end %> 
