<% content_for :top_buttons do %>
  <%= link_to material_icon.reply, backend_fposts_path, data: { toggle: 'tooltip' }, title: 'Wróć', class: 'btn btn-default btn-xs'  %> 
<% end %> 
<%= simple_form_for([:backend, @backend_fpost]) do |f| %>
  <div class="well">
    <div class="row">

      <div class="col-md-3">
        <div class="thumbnail product-con">
          <% if @backend_fpost.image.blank? %>
            <%= image_tag 'zaslepka', id: 'post-thumb' %>
          <% else %> 
            <%= image_tag @backend_fpost.image_url.to_s, id: 'post-thumb' %> 
          <% end %> 
        </div>
      </div>

      <div class="col-md-9">
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :title, label: 'Tytuł' %> 
        </div>
        <div class="form-inputs">
          <%= f.input :body, label: 'Treść' %> 
        </div>
        <div class="form-inputs">
          <%= f.input :image, label: 'Zdjęcie', as: :file %> 
          <%# <div class="row"> %>
            <%#   <div class="col-md-3"> %>
              <%#     <%= f.input :image, label: 'Zdjęcie', as: :file %1> %> 
              <%#   </div> %>
            <%#   <div class="col-md-9"> %>
              <%#     <%= f.input :link_url, label: 'URL zdjęcia' %1> %> 
              <%#   </div> %>
            <%# </div> %>
        </div>
      </div>
    </div>
  </div>

  <div class="well">
    <div class="form-actions">
      <%= f.button :submit, 'Wyślij' %>
    </div>
  </div>
<% end %>

