<% content_for :top_buttons do %>
  <%= link_to material_icon.reply, backend_fposts_path, data: { toggle: 'tooltip' }, title: 'Wróć', class: 'btn btn-default btn-xs'  %> 
<% end %> 
<%= simple_form_for([:backend, @backend_fpost]) do |f| %>
  <div class="well">
    <div class="row">

      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag (@backend_fpost.image.nil? ? 'thumb' : @backend_fpost.image.image_url), class: 'img-thumbnail', id: 'post-thumb'  %> 
          <%= hidden_field_tag 'post_image_id' %> 
          <%= hidden_field_tag 'post_link' %> 
          <% unless @backend_fpost.image.blank? %>
            <div class="caption">
              <p> <%= @backend_fpost.image.image_title %> </p>
              <%= link_to "#{fa_icon('file-image-o')} Zamień zdjęcie".html_safe, add_image_backend_fposts_path(send_to: @backend_fpost), remote: true %> 
              <%= link_to "#{fa_icon('trash-o')} Usuń".html_safe, delete_image_backend_fposts_path(id: @backend_fpost.id), remote: true, method: :post, class: "delete-image"  %> 
            </div>
          <% else %>
            <div class="caption">
              <%= link_to "#{fa_icon('file-image-o')} Dodaj zdjęcie".html_safe, add_image_backend_fposts_path(send_to: @backend_fpost), remote: true, id: 'add_fpost_image_link' %> 
              <%= content_tag 'a', "#{fa_icon('chain-broken')} Usuń zdjęcie".html_safe, id: 'remove_fpost_image_link', class: 'hidden' %> 
            </div>
          <% end %> 
        </div>
      </div>
      <div class="col-md-9">
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :title, label: 'Tytuł' %> 
        </div>
        <div class="form-inputs">
          <%= f.input :body, label: 'Treść' %> 
        </div>
        <div class="form-inputs">
          <%= f.input :link_url, label: 'Link URL' %> 
        </div>
      </div>
    </div>
  </div>

  <div class="well">
    <div class="form-actions">
      <%= f.button :submit, 'Wyślij' %>
    </div>
  </div>
<% end %>

