<% content_for :top_buttons do %>
  <%= link_to material_icon.reply, backend_fposts_path, data: { toggle: 'tooltip' }, title: 'Wróć', class: 'btn btn-default btn-xs'  %> 
<% end %> 
<%= simple_form_for([:backend, @backend_fpost]) do |f| %>
  <div class="well">
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :body %> 
    </div>
  </div>

  <div class="well">
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
