<div class="modal fade" id="imageIndexModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="containter">
              <%= simple_form_for([:backend, @backend_fpost]) do |f| %>
                <div class="row">
                  <div class="col-sm-12">
                    <button type="button" class="closeImagesIndexModal close">x</button>
                  </div>
                </div>
                <div class="row">
                  <%# <p class="lead">Nowy post</p> %>
                  <div class="col-md-12">
                    <%= f.error_notification %>
                    <div class="form-inputs">
                      <%= f.input :body, label: 'Treść', input_html: { rows: 5, class: 'resize-stop' } %> 
                    </div>
                    <div class="form-inputs">
                      <%= f.input :link_url, label: 'Link URL' %> 
                    </div>
                    <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Dodaj zdjęcie </button>
                    <div class="collapse" id="collapseExample">
                      <p class="lead"> Dodajemy zdjęcie </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <br>
                    <br>
                    <%= f.button :submit, 'Wyślij' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
</script>
<%# <% @images.each do |img| %1> %> 
<%#   <div class="col-xs-2 col-md-2"> %>
  <%#     <div class="thumbnail"> %>
    <%#       <%= link_to image_tag(img.image_url.to_s), add_image_backend_posts_path(id: params[:id], img_id: img.id), class: 'gallery-image', id: img.id  %1> %> 
    <%#       <1%# <div class="caption"> %1> %>
      <%#         <1%#   <p> <%= img.image_title %2> </p> %1> %>
      <%#         <1%# </div> %1> %>
    <%#     </div> %>
  <%#   </div> %>
<%# <% end %1> %> 
