<% if !post.image.nil? %>

  <div class="col-md-4">
    <%= image_tag post.image.image_url(:thumb) if !post.image.nil? %>
  </div>
  <div class="col-md-8">
    <%= post.body %> <br>
    <%= post.link_url unless post.link_url.blank? %> 
  </div>

<% else %>

  <div class="col-md-12">
    <%= post.body %> <br>
    <%= post.link_url unless post.link_url.blank? %> 
  </div>

<% end %> 
