<!DOCTYPE html>
<html>
  <head>
    <title>FoodtrackV10</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>
  <body>
    <%= render 'partials/backend_nav' %> 
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <%= render "partials/backend_sidebar" %>
      </div>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= render "partials/flash_messages" %>
            </div>
          </div>
          <%# <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> %>
          <div class="row">
            <div class="col-md-12">
              <div class="page-header"> 
                <h2> <%= material_icon.chevron_right.md_36 %> <%= @title ? @title : "Blank" %></h2>
                <div class="pull-right page-header-buttons">
                  <%= yield :top_buttons %>
                </div> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= yield %> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
    </script>
  </body>
</html>
