<!DOCTYPE html>
<html>
  <head>
    <title>FoodtrackV10</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">

      <%= render 'partials/backend_nav' %> 

      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <%= render "partials/flash_messages" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="page-header"> 
                <h1><%= @title ? @title : "Blank" %></h1>
                <div class="pull-right page-header-buttons">
                  <%= yield :top_buttons %>
                </div> 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= yield %> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
